.center {
  display: flex;
  align-items: center;
  justify-content: center;
}


td {
  padding: 0 0 0 45px;
  font-size: 4em;
  height: 100px;
  max-height: 100px;
  width: 100px;
  max-width: 100px;
  border: 1px solid black;
}
