* {
  margin: 0;
  padding: 0;
}

table {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.current-player {
   display: flex;
   /* flex-direction: column; */
   justify-content: center;
   font-family: 'Josefin Sans', sans-serif;
}

td {
  padding: 0 0 0 45px;
  font-size: 4em;
  height: 100px;
  max-height: 200px; 
  width: 100px; 
  max-width: 100px;
  background-color: #CBE4E2;
  font-family: 'Josefin Sans', sans-serif;
}